In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("customer_shopping_behavior.csv")

In [5]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [9]:
##it will show only numarical summary
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [11]:
##it show both numerical and characterical summary
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [13]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [15]:
##filling median for null values from median review rating with in each category median 
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [17]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [19]:
#changing column name where space is there inserting underscore
df.columns =df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
#changing purchase column name 
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [21]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [23]:
#creating a column sperate age group based on age
labels = ['Young Adult','Adult','Middle Aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels = labels)

In [25]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19  Young Adult
2   50  Middle Aged
3   21  Young Adult
4   45  Middle Aged
5   46  Middle Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle Aged

In [27]:
#createing column purchase_frequency_days
frequency_mapping = {'Fortnightly':14,
                     'Weekly':7,
                     'Monthly':30,
                     'Quarterly':90,
                     'Bi-Weekly':14,
                     'Annually':365,
                     'Every 3 Months':90
                    }
df['purchase_frequency-days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [29]:
df[['purchase_frequency-days','frequency_of_purchases']]

      purchase_frequency-days frequency_of_purchases
0                          14            Fortnightly
1                          14            Fortnightly
2                           7                 Weekly
3                           7                 Weekly
4                         365               Annually
...                       ...                    ...
3895                        7                 Weekly
3896                       14              Bi-Weekly
3897                       90              Quarterly
3898                        7                 Weekly
3899                       90              Quarterly

[3900 rows x 2 columns]

In [31]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [33]:
#droping not needed column
df=df.drop('promo_code_used', axis=1)
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency-days'],
      dtype='object')

In [35]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binaryNote: you may need to restart the kernel to use updated packages.

  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\kkava\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kkava\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kkava\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.7 MB 787.7 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.7 MB 1.1 MB/s eta 0:00:03
   --- ------------------------------------ 0.3/2.7 MB 1.4 MB/s eta 0:00:02
   ----- ---------------------------------- 0.4/2.7 MB 1.7 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.7 MB 2.0 MB/s eta 0:00:02
   --------- ------------------------------ 0.6/2.7 MB 1.9 MB/s eta 0:00:02
   --------- ------------------------------ 0.6/2.7 MB 1.8 MB/s eta 0:00:02
   --------- ------------------------------ 0.6/2.7 MB 1.8 MB/s eta 0:00:02
   --------- ------------------------------ 0.7/2.7 MB 1.4 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.1 MB/s eta 0:00:02
   ------------- -------------------------- 0.9/2.7 MB 1.2 MB/s eta 0:00:02
   --------------- ------------------------ 1.1/2.7 MB 1.3 MB/s eta 0:00:02
   ------------------ --------------------- 1.2/2.7 MB 1.4 MB/s eta 0:00:02
   --------------------- ------------------ 1.4/2.7 MB 1.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.7 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.7 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.7 MB 1.7 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.8/2.7 MB 1.6 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.7 MB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.9/2.7 MB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.9/2.7 MB 1.3 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.7 MB 1.4 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.4 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.4 MB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.5/2.7 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.3 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [39]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual PostgreSQL details
username = "postgres"                 # PostgreSQL username
password = "kavana123"              # PostgreSQL password
host = "localhost"                    # If running locally
port = "5432"                         # Default PostgreSQL port
database = "customer_behavior"        # Database created in PostgreSQL

# Create engine
engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer"               # Table name

df.to_sql(
    table_name,
    engine,
    if_exists="replace",              # replace / append
    index=False
)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behavior'.